@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #9328E7;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  /* Animate text with a shine effect */
  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-white rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-gray-300;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-gradient-to-r from-slate-700 to-gray-400 shadow-lg shadow-slate-900/20 p-[10px] rounded-md my-1 hover:shadow-xl hover:from-slate-900 hover:to-gray-600 transition-all duration-300 cursor-pointer;
}

.btn-small {
  @apply flex items-center gap-2 text-[13px] font-semibold text-white bg-linear-to-r from-slate-700 to-gray-400 px-5 py-1.5 rounded hover:shadow-xl hover:from-slate-900 hover:to-gray-600 transition-all duration-300 cursor-pointer;
}

.btn-small-light {
  @apply flex items-center gap-2 text-[13px] font-semibold text-white bg-linear-to-r from-slate-700 to-gray-400 px-5 py-1.5 rounded hover:shadow-xl hover:from-slate-900 hover:to-gray-600 transition-all duration-300 cursor-pointer
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500 focus-within:border-purple-300;
}
